* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fffbf2;
  max-width: 770px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.container {
  margin: 20px;
}

.buttons {
  margin-bottom: 20px;
}

.buttons button {
  padding: 4px 10px;
}

#scoreboard {
  margin-bottom: 20px;
}

#game {
  max-width: 770px;
}

#game div {
  border: 1.6px solid black;
  width: 90px;
  height: 120px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}